body{background: beige;}

h1{color: cornflowerblue; transition: color .5s ease-in-out;}

.active{color: tomato;}


/* 5일차 과제 */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hello {
  width: 100%;
  height: 100vh;
}
h1 {
  color: #fff;
}
.yellow {
  background-color: #ffd432;
}
.purple {
  background-color: #b243ff;
}
.blue {
  background-color: #66b8e4;
} */